/* <------------------------------> */
/* Universal Selector */
*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;

}
/* <------------------------------> */
/* Header and body */
header{
    background: url(background2.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: block;
    height: 100vh;
    overflow: hidden;
}
/* <------------------------------> */
/* Logos and navbar */
.logo{
    font-size: 1.3rem;
    font-family: cursive;
    color: aliceblue;
    margin: .9rem 3rem;
    background-image: linear-gradient(to top, #0250c5 0%, #d43f8d 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.logo:hover{
    color: aliceblue;
    cursor:default;
}
nav{
    font-size: 1.2rem;
}
.nav-ul{
    display: inline-flex;
  position: absolute;
  transform: translate(+30%);
  top: 0;
  right: 120px;
  margin: .9rem;
}
nav a{
    font-family: cursive;
    color:#d4f3fd  ;
    padding: .8rem;
    justify-content: right;
} 
 .active{
color:#b5fcb5 ;
}
nav a:hover{
    color: darkturquoise;
}
/* <------------------------------> */
                /* Heading and sub heading */
.heading{
    width: max-content;
    display: block;
    margin: 6.3rem auto;
    font-size: 4rem;
    font-family: 'Sansita Swashed', cursive;
    background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.heading:hover{
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    cursor: default;
}

.content{
    width: max-content;
    display: block;
    position: absolute;
    bottom: 59%;
    right: 50%;
    transform:translate(+50%);
    font-size: 1.1rem;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
    background-blend-mode: multiply,multiply;
    background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: default;
}
/* <------------------------------> */
/* <----------Media query for width 550px--------> */
@media screen and (max-width: 550px) {

     .nav a{
    font-size: 1rem;
    display: block;
    width: 90px;
    margin: 0px;
    left: 50%;
    transform: translateX(20%);
    justify-content: space-evenly;
    padding: 0px;
}
.nav-ul{
position: absolute;
flex-wrap: nowrap;
top: 3rem;
justify-content: baseline;

}
.logo{
    margin:  .9rem auto ;
    display: block;
    width: max-content;
    font-size: 1.3rem;
    
}
}
/* <------------------------------> */
/* <----------Media query for width 430px-------> */
@media screen and (max-width: 430px) {
.heading{
    font-size: 3rem;
}
.content{
    bottom: 67%;
}
}
/* <------------------------------> */
/* <----------Media query for width less than 400px--------> */
@media screen and (max-width: 375px) {
.content{
    bottom: 60%;
}
}
@media screen and (max-width: 390px) {
    .nav a{
        transform: translateX(30%);
        width: 85px;
        padding: .1rem;
    }
    .heading{
        font-size: 3rem;
    }

}
@media screen and (max-width: 348px) {
    .nav a{
        transform: translateX(30%);
        width: 70px;
        padding: .1rem;
        font-size: .7rem;
    }
    
    .heading text{
        font-size: 2.5rem;
    }
    .content{
        font-size: 1rem;
        bottom: 65%;
    }
}

@media screen and (max-width: 320px) {
    .content{
        bottom: 57%;
    }
}
@media screen and (max-width: 323px) {
    .nav a{
    transform: translate(50%);
    }
    .heading{
        font-size: 2.4rem;
    }
}
/* <------------------------------> */
@media screen and (max-width: 290px) {
    .nav a{
    width: 60px;
    font-size: .6rem;
    transform: translate(80%);
    }
    .heading{
    font-size: 2.3rem;
    }
    .content{
        font-size: .8rem;
    }
}
/* <------------------------------> */