*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
}

body{
    background-image: linear-gradient(to top, #171F3D 0%, #E6B9DC 52%, #7f77b9 100%);
}

svg{
    margin-left:auto;
    margin-right:auto;
    display:block;
    /* margin-top:27px; 
    margin-bottom: 29px; */
    box-shadow:15px 10px 15px 10px  rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 27px;
    bottom: 29px;
    z-index: -1;
    left: 83px;
}
body {
	background: linear-gradient(-45deg, #171F3D, #E6B9DC, #23a6d5, #090d3a);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}
.logo{
  font-size: 1.3rem;
  font-family: cursive;
  margin: 3rem 8rem;
  color: aliceblue;
  /* background-image: linear-gradient(to top, #0250c5 0%, #d43f8d 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}
.logo:hover{
  color: aliceblue;
  cursor:default;
}
nav{
  font-size: 1.2rem;
}
.nav-ul{
  display: inline-flex;
position: absolute;
transform: translate(+30%);
top: 0;
right: 10rem;
margin: 3.2rem;
}

nav a{
  font-family: cursive;
  color:#4359B1  ;
  padding: .8rem;
  justify-content: right;
} 

.active{
color:#b5fcb5 ;
}

.active:hover{
  color: #801357;
}
nav a:hover{
  color: rgb(175, 245, 247);
}

.heading{
  width: max-content;
  display: block;
  margin: 7.7rem auto;
  font-size: 3.5rem;
  font-family: 'Sansita Swashed', cursive;
  background-image: linear-gradient(to top, #0e00ce 0%, #086708 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.heading:hover{
  cursor: default;
}

.content{
  width: max-content;
  display: block;
  position: absolute;
  bottom: 50%;
  right: 50%;
  transform:translate(+50%);
  font-size: 1.2rem;
  font-family: 'Roboto', sans-serif;
  background-image: linear-gradient(to top, #0c0e04 0%, #2c2916 24%, #3a1317 30%, #e7627d 46%, #b8235a 59%, #801357 71%, #3d1635 84%, #1c1a27 100%);
  background-image: linear-gradient(to top, #735ee7 0%, #990680 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
cursor: default;
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
